.delete {
    width: 120px;
    height: 40px;
    font-size: 16px;
}

.add {
    width: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#main {
    color:orangered;
    margin-bottom: 20px;
}

#search {
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    color:peru;
}

.title {
    font-size: 20px;
}